.min-h-screen{
    min-height: 100vh;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.item-center{
    align-items: center;
}

.bg-gr{
    background-color: rgb(148,154,155);
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 18px;
    margin-bottom: 18px;
}

.my-2{
    margin-top: 36px;
    margin-bottom: 36px;
}

.px-2{
    padding-left: 20px;
    padding-right: 13px;
}

.btn{
    padding: 4px 12px;
    border: 2px solid black;
    color: white;
    border-radius: 8px;
    background-color: blueviolet;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
     text-align: center;
}
